<div class="container p-0">
  <div class="header">
    <button>User List</button>
  </div>

  <mat-list class="user-list">
    <mat-list-item *ngFor="let user of userList; let i = index" (click)="onSelectUser(i)" class="chat-list pointer"
      [ngClass]="{ 'selected-user': selectedUserIndex === i}">
      {{user?.name}}
      <span class="green-dot"></span>
    </mat-list-item>
    <mat-list-item *ngIf="userList.length === 0" class="selected-user justify-content-center">
      No Users Online
    </mat-list-item>
  </mat-list>

  <div class="footer">
    <button (click)="logoutUser()">Logout</button>
  </div>

</div>