<!-- <div class="row">

  <div class="col-4">
    <app-user-list></app-user-list>
  </div>
  <div class="col-8">
    <app-message-box></app-message-box>
  </div>

</div> -->
<div class="home">
  <mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="side">

      <app-user-list></app-user-list>
    </mat-drawer>

    <audio #callerTune src="../../assets/audio/hangouts_call.mp3" loop></audio>

    <div *ngIf="true || isIncomingCall" class="caller-info">
      <button type="button" mat-button class="accept-call mx-3" (click)="acceptCall()">
        Accept
      </button>
      <div class="caller-name">
        {{caller}}
      </div>
      <button type="button" mat-button class="decline-call mx-3" (click)="declineCall()">
        Decline
      </button>
    </div>
    <div class="chat-body">
      <app-message-box class="w-100"></app-message-box>
    </div>

  </mat-drawer-container>
</div>