.home{
    width: 100vw;
    height: 100vh;
}

.mat-drawer-container{
    height: 100%;
}

.mat-drawer{
    width: 20vw
}

.row{
    margin: 0;
}

.chat-body{
    height: 95vh;
    /* width: 75vw; */
}

.caller-info{
    height: 5vh;
    align-items: center;
    background-color: lightblue;
    display: flex;
    justify-content: center;
    position: absolute;
    right: 28vw;
}

.accept-call{
    background-color: #286d28;
    color: white;
}

.decline-call{
    background-color: darkred;
    color: white;
}